# Ignorar pesos de Redes Neuronales
*.pt
*.pth
*.onnx
*.engine

# Ignorar carpetas de compilación de ROS 2
build/
install/
log/

# Ignorar archivos ocultos del sistema y Python
__pycache__/
*.pyc
.vscode/

